body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(29, 24, 109, 0.904);
  color: rgb(255, 255, 255);
  font-size: larger;
  background: linear-gradient(-45deg, #178156, #236983, #4aae97);
  background-size: 400% 400%;
  animation: gradient 8s ease-in-out infinite;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 2em;
  padding: 1em;
}

.part1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
}
.part2 {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.menu-items {
  padding: 0px !important;
}
.links-list {
  display: flex;
  justify-content: space-around;
  padding: 0px !important;
}
.links-list li {
  width: 64px;
}
.links-list li a svg {
  width: 30px;
  height: 35px;
}
.links-list li a:hover {
  color: white;
}
a {
  text-decoration: none;
  color: rgb(205, 203, 203);
}
.part,
.active {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.active a,
.part:hover a {
  color: white;
}

.part div {
  width: 30px;
  height: 2px;
  background-color: rgb(205, 203, 203);
}
.active div,
.part:hover div {
  transition: 0.5s ease-in-out;

  width: 60px;
  height: 2px;
  background-color: white;
}
p {
  color: rgb(205, 203, 203);
  font-size: larger;
}
h5 {
  font-size: large;
}
h3 {
  text-align: center;
}
.college-info {
  display: flex;
  align-items: center;
}
.college-info p {
  margin-left: 1em;
}
.skills {
  padding: 0;
}
.skill {
  display: inline-block;
  border: 2px solid rgb(205, 203, 203);
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.college-experience {
  list-style: disc;
}
.job-experience,
.project {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(205, 203, 203);
  border-radius: 5px;
  box-shadow: 1px 0px 5px 2px #9d9d9d91;
}

.project {
  padding: 1em;
  margin-bottom: 1em;
}
.item {
  display: flex;
}
.item p,
.item ul {
  margin-left: 1em;
}
img {
  opacity: 0.7;
  width: 80%;
  border-radius: 1em;
  margin: 0px auto;
}
.item a {
  color: white;
}
img:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
  width: 90%;
}
.item-name {
  text-align: center;
}
@media screen and (max-width: 800px) {
  body {
    font-size: large;
  }
  .App {
    flex-direction: column;
  }
  .part1,
  .part2 {
    width: 90%;
  }
  .item {
    display: flex;
    flex-direction: column;
  }
}
